body {
  background: #fff;
  color: #434455;
  font-family: Roboto, sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.header-navigation {
  align-items: center;
  display: flex;
  margin-right: auto;
}
.header-soc {
  display: flex;
  gap: 40px;
}
.header-soc-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu-link {
  background: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-menu-link:hover {
  color: var(--OCEAN, #404bbf);
}
.header-menu-link:focus {
  color: #404bbf;
}
.header-menu-list:hover {
  color: var(--OCEAN, #404bbf);
}
.header-menu-list:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-menu-list {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: none;
}
.header-list-item {
  color: var(--NAVY-BLUE, #2e2f42);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-soc-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
 max-width:320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* SOLUTIONS */
.solutions {
  background-repeat: no-repeat;
  background-image: url(../images/people-office.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin: auto;
}
.solutions-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.solutions-btn:hover {
  background: var(--OCEAN, #404bbf);
}
.solutions-btn:focus {
  background-color: #404bbf;
}
.solutions-btn {
  display: block;
  color: var(--WHITE, #fff);
  text-align: center;
  background: var(--IRIS, #4d5ae5);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  min-width: 169px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Advantages */

 .advantages { 

  padding-bottom:96px;
 }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
   font-size: 36px;
 font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 72px;
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
}
.icon-advantages {
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}
.advantages-list {
  display: flex;
   flex-wrap: wrap;
}
.advantages-list-item {
  width: 100%;
 
}
.advantages-list-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Our Team */
.our-team {
  background: var(--CLOUD, #f4f4fd);
  padding-top: 96px;
  padding-bottom: 120px;
}
.name-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.our-team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-title-list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list-item {
  background: var(--WHITE, #fff);
  text-align: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}
.soc-icon-link {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.soc-icon-list {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon:hover {
  background-color: #404bbf;
}
.soc-icon:focus {
  background-color: #404bbf;
}
.soc-icon-svg {
  fill: #f4f4fd;
}
/* PORTFOLIO */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list-item {
  background: var(--WHITE, #fff);
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-container {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover .text-up {
  transform: translateY(0%);
}
.text-up {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container-logo {
  margin-right: 120px;
}
.soc-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-link {
  display: flex;
  gap: 16px;
}
.footer-list {
  width: 40px;
  height: 40px;
}
.soc-icon-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon-footer:hover {
  background-color: #31d0aa;
}
.soc-icon-footer:focus {
  background-color: #31d0aa;
}

.footer-modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-size: 16px;
}
.footer-modal {
  width: auto;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.svg-button {
  margin-left: 16px;
}
/* Modal window */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon:hover {
  fill: #ffffff;
}
.modal-btn-icon:focus {
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-modal {
  margin-bottom: 8px;
}
.form-modal-comment {
  margin-bottom: 16px;
}
.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-modal-container {
  position: relative;
  margin-bottom: 16px;
  stroke: #2e2f42;
}
.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
  border-color: #4d5ae5;
}
.form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.input-modal:focus + .form-svg {
  fill: #4d5ae5;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}
.checkbox {
  margin-bottom: 24px;
}
.checkbox-input:checked + .checkbox-label > .span-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-svg {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-a {
  color: #4d5ae5;
  text-decoration: underline;
}
.checkbox-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
@media screen and (min-width:320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and ( min-width:768px){
  .container{
  max-width: 768px;
  }
  .solutions{
     max-width: 768px;
     background-size: contain;
  }
  .solutions-title{

  }
    .advantages-list-item{
width: calc((100% - 72px) / 2);
}
.advantages-list{
  gap: 24px;
  justify-content: space-between;
    }
    .advantages-title{
      text-align: inherit;
    }
    .advantages-list-text{

    }
    .our-team-list{
      justify-content: center;
    }
    .our-team-list-item{
      margin-bottom: 32px;
    }
    .portfolio-list{

    }
    .portfolio-list-item{
      width: calc((100%-144px) / 2);
    }
}
@media screen and (min-width:1158px) {
  .container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages-list{
    display: flex;
    gap: 24px;
   
  }
  .advantages-list-item{
width: calc((100% - 72px) / 4);
  }
  .icon-advantages{
  display: block;
}
}
.solutions {
  
}